@charset "utf-8";

body{
    display: flex;
}

.col1,.col2,.col3{
    width: 800px;
    height: 300px;
    margin-left: 20px;

}


.col1{
    background-color: rgb(255, 0, 0);
    background-image: url(images/13.jpg);
    background-size: cover;
    background-blend-mode: darken;
    clip-path: circle(107.8% at 100% 100%);
}

.col2{
    background-color: rgb(195, 0, 255);
    background-image: url(images/10.jpg);
    background-size: cover;
    background-blend-mode: luminosity;
    clip-path: polygon(0 0, 75% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%);

}

.col3{
    background-color: rgb(255, 255, 255);
    background-image: url(images/11.jpg);
    background-size: cover;
    background-blend-mode: exclusion;
    clip-path: polygon(0 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 100% 25%, 100% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 0 50%);

}